.flex{display: flex;
  flex-direction: row;
  color: mediumblue;
  padding-top: 3%;
  
 }

.card__content-tag-item {
  display: flex;
  color: #1d20c8;
  font-size: 30px;
  font-weight: bold;

}
li{margin-left: 20px;}
.card__content-tag-item--last {
  display: row;
  margin-left: 60%;
  color: #1d20c8;
  font-size: 15px;
  list-style: none;

}

.relative {
  max-width: 70%;
  position: relative;
}

.relative__img {position: relative;
  z-index: 100;
  width: 50%;
  top: 15vw;
  margin: 10vw 65vw;
}

.absolute {
  position: absolute;
  width: 80vw;
  height: 20vw;
  top: 40vw;
    background-color: rgb(68, 0, 255);
    z-index: 0;
}

.ttl{position: absolute;
  top: 35vw;
  font-size: 50px;

}
